    * {
        background-color: dodgerblue;
    }
    
    h1,
    h2 div {
        color: black;
        text-align: center;
    }
    
    p {
        background-color: bisque;
        font-weight: 600;
        color: blue;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        border: 2px solid white;
        margin-top: 10px;
        margin-right: 200px;
        margin-left: 200px;
    }
    
    .image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .heade {
        margin-right: 0%;
        text-align: right;
    }
    
    div {
        border: 10px solid black;
        margin-top: 10px;
        margin-bottom: 100px;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        background-color: lightblue;
    }
    
    .lists {
        border: 1px solid black;
        margin-top: 10px;
        margin-bottom: 100px;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        background-color: lightblue;
    }